* {
    font-family: Helvetica, Arial, sans-serif;
    box-sizing: border-box;
}

header {
    justify-content: space-between;
    display: flex;
    padding: 20px;
    flex-wrap: nowrap;
}
.hs a {
    text-decoration: none;
    color: plum;
    
    
    
}
.time{
    
    justify-self: flex-end;
}

.container {
    display: flex;
    width: 60%;
    margin-left: 20%;
    text-align: center;
}

.description {
    padding-bottom: 20px;
}

.btn {
    border: none;
    border-radius: 5px;
    outline: none;
    background-color: blue;
    color: white;
    padding: 5px 10px;
    font-size: large;
    margin: 10px auto;
}

.btn:hover {
    background-color: plum;
}

.answer-btn {
    display: block;
    width: 200px;
}

.end {
    display: block;
    
    text-align:left;
}

.correct {
    font-style: italic;
    color: gray;
    border-top: 2px solid gray;
    font-size: large;
    margin:25px auto;
    padding: 10px;
    width: 60%;
    
}

.highscores {
    width: 40%;
    margin: 200px auto;
    
}

ol {
    padding: 20px 0;
}

ol:nth-child(2n-1){
    background-color: lavender;
}

li {
    padding: 5px 0;
    list-style-position: inside;
}

li:nth-child(2n-1){
    background-color: lavender;
}

.hide {
    display: none;
}

.quiz {
    margin: 10px auto;
}